<nav class="navbar">
    <div class="container">
        <a href="/" class="logo"><div class="logo">Sono+</div></a>
    <ul class="nav-links" id="navLinks">
        <li><a href="/estofados">Estofados</a></li>
        <li><a href="/colchoes">Colchões</a></li>
        <li><a href="/sobre">Sobre</a></li>
    </ul>
    <div class="menu-icon" id="menuIcon" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </div>
</nav>