RewriteEngine On

# Negar acesso a todos os arquivos e pastas por padrão
Options -Indexes
<Files *>
    Require all denied
</Files>

# Permitir acesso ao index.php
<FilesMatch "^(index\.php)$">
    Require all granted
</FilesMatch>

# Permitir acesso aos arquivos dentro das pastas específicas
<DirectoryMatch "^(images|uploads|scripts|css)$">
    Require all granted
</DirectoryMatch>

# Se você tiver arquivos específicos dentro dessas pastas que precisam de proteção,
# você pode adicionar regras aqui para negar acesso a eles.
# Exemplo: Negar acesso a arquivos .psd dentro da pasta images
# <FilesMatch "^.*\.(psd)$">
#     Require all denied
# </FilesMatch>