RewriteEngine On

# Redirecionar todas as requisições que não são arquivos ou diretórios existentes
# e não estão nas pastas permitidas para o index.php, mantendo a query string
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/(images|uploads|scripts|css)/ [NC]
RewriteRule ^(.*)$ index.php/$1 [QSA,L]

# Negar acesso a todos os arquivos por padrão (para segurança)
<Files *>
    Require all denied
</Files>

# Permitir acesso ao index.php
<FilesMatch "^(index\.php)$">
    Require all granted
</FilesMatch>

# Permitir acesso aos arquivos dentro das pastas específicas
<DirectoryMatch "^(images|uploads|scripts|css)$">
    Require all granted
</DirectoryMatch>

# Desabilitar a listagem de diretórios (opcional, mas recomendado)
Options -Indexes