* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

.container {
    width: 90%; /* Define uma largura menor que 100% */
    max-width: 1200px; /* Limita a largura máxima em telas grandes */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hero {
    background: url('C:/projets/sonomais/images/hero.jpg') center/cover no-repeat;
    background-position: 50% 65%;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    width: 90%;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 2rem;
}

.products {
    text-align: center;
    padding: 40px 0;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item img {
    width: 200px;
    border-radius: 5px;
}

footer {
    background: #f8f8f8;
    padding: 40px 0;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}


/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .hero {
        height: 200px;
    }

    .product-grid {
        flex-direction: column;
    }
}
